@inherits LayoutComponentBase

<BlazoredToasts/>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <br/>
    <div class="" style="background-color:#00AA9E; height:40px">
        <AuthorizeView>
            <Authorized>
                <p class="h4" style="padding-top:10px">Welcome, @context.User.Identity.Name</p>
            </Authorized>
            <NotAuthorized>
                <p class="h4" style="padding-top:10px">Hello, Guest!</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        <div class="content px-4 mt-6">
            <div class="card">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>