@page "/categories/create"
@attribute [Authorize(Roles = "Administrator")]
@inject ICategoryRepository _cateRepo
@inject NavigationManager _navManager

<h3 class="card-title text-center">Create New Category</h3>
<br />
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="An error occurred while processing your request. Please try again!" />
}

<EditForm Model="Model" OnValidSubmit="CreateCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="categoryname">Category Name</label>
        <InputText @bind-Value="Model.CategoryName" class="form-control" id="categoryname" />
    </div>
    <a href="categories/" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span> Categories
    </a>
    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span> Create Category
    </button>
</EditForm>

@code {
    private Category Model = new Category();
    private bool isSuccess = true;

    private async Task CreateCategory()
    {
        isSuccess = await _cateRepo.Create(Endpoints.CategoriesEndpoint, Model);
        if (isSuccess)
        {
            _navManager.NavigateTo("/categories");
        }

    }
}
