@page "/categories/delete/{Id:int}"
@attribute [Authorize(Roles = "Administrator")]
@inject ICategoryRepository _cateRepo
@inject NavigationManager _navManager

<h3 class="card-title text-center">Delete Category</h3>
<br />
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="An error occurred while processing your request. Please try again!" />
}
@if (Model == null)
{
    <LoadingMessage />
}
else
{
    <div class="col-md-12">
        <h4>Category Details</h4>
        <table class="table table-responsive">
            <tr>
                <td>Category Name</td>
                <td>@Model.CategoryName</td>
            </tr>
        </table>
        @if (Model.Products == null || Model.Products.Count < 1)
        {
            <InfoMessage Message="No Products under this category" />
        }
        else
        {
            <div class="card">
                <div class="card-header text-white" style="background-color: #00AA9E;">
                    <h4>Category's Products</h4>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var product in Model.Products)
                    {
                        <li class="list-group-item">@product.ProductName</li>
                    }
                </ul>
            </div>
        }

    </div>
}
<br />

<a href="categories/" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span> Categories
</a>
<button class="btn btn-danger" @onclick="DeleteCategory">
    <span class="oi oi-delete"></span> Delete Category
</button>

<ConfirmComponent @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete"
                  Message="@($"Are you sure you want to delete \"{Model.CategoryName}\" category? This process will delete all products under this category.")"/>

@code {
    [Parameter]
    public int Id { get; set; }

    private Category Model = new Category();
    private bool isSuccess = true;

    public ConfirmComponent DeleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await _cateRepo.Get(Endpoints.CategoriesEndpoint, Id);
    }

    private void DeleteCategory()
    {
        DeleteConfirmation.Show();
    }
    private async Task ConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            isSuccess = await _cateRepo.Delete(Endpoints.CategoriesEndpoint, Model.Id);
            if (isSuccess)
            {
                _navManager.NavigateTo("/categories");
            }
        }
    }
}

