@page "/categories/"
@attribute [Authorize(Roles = "Administrator")]
@inject ICategoryRepository _cateRepo

<h3 class="card-title text-center">Categories</h3>
<br />
<hr />
<br />
@if (Model == null)
{
    <LoadingMessage />
}
else
{
    <a href="/categories/create" class="btn btn-primary">
        <span class="oi oi-plus"></span> Create New Category
    </a>
    <br />
    <br />
    @if (Model.Count < 1)
    {
        <InfoMessage Message="There are no records found in the database. Click 'Create New Category' to insert new record" />
    }
    else
    {
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>
                            <a href="/categories/details/@category.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href="/categories/edit/@category.Id" class="btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <a href="/categories/delete/@category.Id" class="btn btn-danger">
                                <span class="oi oi-delete"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@code {
    private IList<Category> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _cateRepo.Get(Endpoints.CategoriesEndpoint);
    }
}